<div class="center">
	
	<h1>Welcome to the Score Server</h1>

	<h2>Our Top 10 High Scores List</h2>

<table class="center">
  <tr>
    <th>Score</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= number_with_delimiter game.score %></td>
  </tr>
<% end %>
</table>

<br />

<h3>Total Games Played:<%= @total_games %></h3>
</div>

