/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
    font-family: "Courier New", Courier, monospace;
    background-color: #FF9933;
}

.center {
	float: right;
	text-align: center;
	margin-left: 5px;
	margin-right: 400px;
}

.user {
	float: left;
	margin-left:10px;
	margin-right:5px;
}

table {
	padding-bottom: 10px;
}
table.center {
	margin-left:auto; 
	margin-right:auto;
}

td {
	padding: 1px 10px 2px 2px;
	text-align: center;
}

th {
	padding: 1px 10px 2px 2px;
	text-align: center;
}

label {
	width:150px; 
	padding-top:2px;
}

ul.hmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}

.field {
	padding:2px;
}

.actions {
	padding-top:8px;
	padding-bottom:4px;
}